<div class=" text-center">
  <a class="btn btn-success" href="/create" style="text-decoration: none;">{{ 'list-student.Create' | translate }}</a>
</div><br/><br/>
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'list-student.FirstName' | translate }}</th>
        <th scope="col">{{ 'list-student.Email' | translate }}</th>
        <th scope="col">{{ 'list-student.StudentCourse' | translate }}</th>
        <th scope="col">{{ 'list-student.Fees' | translate }}</th>
        <th scope="col">{{ 'list-student.Actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let etudiant of Etudiant; let i=index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ etudiant.firstname}}</td>
        <td>{{ etudiant.email}}</td>
        <td>{{ etudiant.etudiant_course}}</td>
        <td>{{ etudiant.fees}}</td>
        <td>
            <span (click)="removeEtudiant(etudiant)" class="btn btn-danger">{{ 'list-student.Delete' | translate }}</span> &nbsp;
            <span routerLink="/update-etudiant/{{etudiant.id}}" class="btn btn-primary">{{ 'list-student.Edit' | translate }}</span>
        </td>
      </tr>
    </tbody>
  </table>